<!doctype html>
<html>

<head>
  <meta http-equiv="content-type" content="txt/html; charset=utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/svg+xml" href="https://api.iconify.design/fluent-emoji-flat:link.svg" />
  <link rel="stylesheet"
    href="https://fastly.jsdelivr.net/gh/lainbo/Url-Shorten-Worker@crazypeace-gh-pages/components-v2.css">
  <title>Lainbo短链接生成</title>
  <script src="https://fastly.jsdelivr.net/npm/@unocss/runtime"></script>
  <script src="https://fastly.jsdelivr.net/npm/axios"></script>
  <script src="https://fastly.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
  <div id="app" class="bg-#f3f4f6 min-h-100vh">
    <main class="flow-root">
      <form class="space-y-8 bg-#fff max-w-768px mx-auto my-0 rounded-lg shadow-xl sm:mt-10vh">
        <div class="pb-10">
          <div class="h-16 flex items-center px-4">
            <h2 class="text-24px leading-6 font-medium text-gray-900">
              短链接生成
            </h2>
          </div>

          <div class="space-y-6 sm:space-y-5 px-4">
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <label id="basic-addon1" for="originalUrl"
                class="block text-md font-medium text-gray-700 sm:mt-px sm:pt-2">
                原始链接
              </label>
              <div class="mt-1 sm:mt-0 sm:col-span-2">
                <div class="max-w-lg flex rounded-md shadow-sm">
                  <input v-model.trim="longURL" type="text" name="originalUrl"
                    placeholder="请写完整, 如https://www.example.com"
                    class="flex-1 block w-full focus:ring-indigo-500 focus:border-indigo-500 min-w-0  rounded-md sm:text-sm border-gray-300">
                </div>
              </div>
            </div>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start  sm:pt-5">
              <label id="basic-addon2" for="customUrl" class="block text-md font-medium text-gray-700 sm:mt-px sm:pt-2">
                自定义后缀
              </label>
              <div class="mt-1 sm:mt-0 sm:col-span-2">
                <div class="max-w-lg flex rounded-md shadow-sm">
                  <input v-model.trim="keyPhrase" type="text" name="customUrl" placeholder="不填写将随机分配"
                    class="flex-1 block w-full focus:ring-indigo-500 focus:border-indigo-500 min-w-0  rounded-md sm:text-sm border-gray-300">
                </div>
              </div>
            </div>
            <div class="flex justify-end space-x-2">
              <button v-if="resultUrl" @click="copyText(resultUrl)" type="button"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <div v-html="copySVG"></div>
              </button>
              <button type="button"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                @click="shorturl">
                {{submitText}}
              </button>
            </div>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <label id="basic-addon2" for="pagePassword"
                class="block text-md font-medium text-gray-700 sm:mt-px sm:pt-2">
                生成的结果
              </label>
              <div class="mt-1 select-all h-full flex items-end sm:justify-end sm:mt-0 sm:col-span-2">
                <span v-if="resultUrl">{{ resultUrl }} </span>
                <span class="text-gray-400" v-else>结果将在这里显示</span>
              </div>
            </div>
          </div>
      </form>
    </main>
  </div>
  <script>
    let vm = new Vue({
      el: '#app',
      data() {
        return {
          copySVG: `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0h24zM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018zm.265-.113l-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022zm-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01-.184-.092z"/><path fill="currentColor" d="M9 2a2 2 0 0 0-2 2v2h2V4h11v11h-2v2h2a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H9zM4 7a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2H4zm0 2h11v11H4V9z"/></g></svg>`,
          longURL: "", // 原始链接
          keyPhrase: "", // 自定义后缀
          resultUrl: "", // 生成的结果
          submitText: "生成短链接", // 提交按钮文字
          submitLoading: false, // 提交按钮加载状态
          passwordText: window.location.pathname.slice(1), // 密码
        }
      },
      created() {

      },
      mounted() { },
      methods: {
        copyText(str) {
          const textarea = document.createElement('textarea'); // 创建一个textarea元素
          textarea.value = str; // 设置要复制的文本
          document.body.appendChild(textarea); // 将元素添加到DOM
          textarea.select(); // 选择元素中的文本
          document.execCommand('copy'); // 执行复制命令
          document.body.removeChild(textarea); // 从DOM中删除元素
          this.copySVG = "已复制"
          setTimeout(() => {
            this.copySVG = this.$options.data().copySVG
          }, 1500)
        },
        async fetchShortUrl() {
          this.submitLoading = true;
          this.submitText = "正在生成..."
          const obj = {
            cmd: "add",
            url: this.longURL,
            keyPhrase: this.keyPhrase,
            password: this.passwordText
          }
          const data = await axios.post('https://u.lainbo.com/Xwr9G7Vc39u4rLb6', obj)
          const res = data.data
          if (data.status !== 200) {
            alert('请求失败')
          } else if (res.status !== 200) {
            alert(res.error)
          } else {
            this.resultUrl = `${window.location.protocol}//${window.location.host}/${res.key}`
          }
          this.submitLoading = false
          this.submitText = "生成完毕🎉"

          setTimeout(() => {
            this.submitText = this.$options.data().submitText
          }, 800)
        },

        shorturl() {
          if (!this.longURL.trim()) {
            alert("你还没有输入原始链接")
            return
          }
          this.fetchShortUrl()
        }
      },
      computed: {},
      watch: {}
    })
  </script>
</body>

</html>
