<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lainbo短链接生成</title>
  <script src="https://fastly.jsdelivr.net/npm/@unocss/runtime"></script>
  <script src="https://fastly.jsdelivr.net/npm/axios"></script>
  <script src="https://fastly.jsdelivr.net/npm/vue@2"></script>
  <link rel="stylesheet"
    href="https://fastly.jsdelivr.net/gh/lainbo/Url-Shorten-Worker@crazypeace-gh-pages/components-v2.css">
  <link rel="stylesheet" href="https://s1.hdslb.com/bfs/static/jinkela/long/font/regular.css">
  <style>
    @font-face {
      font-family: Cus_Emoji;
      src: local("Twemoji Mozilla"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Apple Color Emoji"), local("Noto Color Emoji");
      unicode-range: U+1F000-1F644, U+203C-3299;
    }

    ::selection {
      background: #646cff;
      color: #fff;
    }

    html:lang(zh) body {
      font-family: "HarmonyOS Sans SC", "HarmonyOS_Regular", Cus_Emoji, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }

    .result_wrapper {
      overflow: hidden;
      word-break: break-all;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  </style>
  <link rel="icon" type="image/svg+xml" href="https://api.iconify.design/fluent-emoji-flat:link.svg">
</head>

<body>
  <div id="app" class="bg-#f3f4f6 h-100vh">
    <main class="flow-root h-full sm:h-auto">
      <form class="space-y-8 bg-#fff max-w-768px mx-auto my-0 rounded-none h-full shadow-xl sm:mt-15vh sm:!rounded-xl">
        <div class="pb-10">
          <div class="h-16 flex items-center px-5">
            <h2 class="text-24px leading-6 font-medium text-gray-900">
              短链接生成
            </h2>
          </div>

          <div class="space-y-6 sm:space-y-5 px-5">
            <div class="sm:grid sm:grid-cols-10 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <label for="originalUrl" class="block text-md font-medium text-gray-700 sm:mt-px sm:pt-2 sm:col-span-2">
                原始链接
              </label>
              <div class="mt-1 sm:mt-0 sm:col-span-8">
                <div class="w-full flex rounded-md shadow-sm">
                  <input v-model.trim="longURL" type="text" name="originalUrl"
                    placeholder="请写完整, 如https://www.example.com"
                    class="flex-1 block w-full focus:ring-indigo-500 focus:border-indigo-500 min-w-0  rounded-md sm:text-sm border-gray-300">
                </div>
              </div>
            </div>
            <div class="sm:grid sm:grid-cols-10 sm:gap-4 sm:items-start  sm:pt-5">
              <label for="customUrl" class="block text-md font-medium text-gray-700 sm:col-span-2 sm:mt-px sm:pt-2">
                自定义后缀
              </label>
              <div class="mt-1 sm:mt-0 sm:col-span-8">
                <div class="w-full flex rounded-md shadow-sm">
                  <input v-model.trim="keyPhrase" type="text" name="customUrl" placeholder="不填写将随机分配"
                    class="flex-1 block w-full focus:ring-indigo-500 focus:border-indigo-500 min-w-0  rounded-md sm:text-sm border-gray-300">
                </div>
              </div>
            </div>
            <div class="flex justify-end space-x-2">
              <!-- v-if="resultUrl" -->
              <button @click="copyText(resultUrl)" type="button"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                {{conpyBtnContent}}
              </button>
              <button type="button"
                class="w-120px inline-flex justify-center items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                @click="shorturl">
                {{submitText}}
              </button>
            </div>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <label class="block text-md font-medium text-gray-700 sm:mt-px sm:pt-2">
                生成的结果
              </label>
              <div
                class="mt-1 select-all h-full flex items-end max-h-50 overflow-auto sm:justify-end sm:mt-0 sm:col-span-2">
                <div v-if="resultUrl" class="result_wrapper">{{ resultUrl }} </div>
                <div class="text-gray-400 result_wrapper" v-else>结果将在这里显示</div>
              </div>
            </div>
          </div>
      </form>
    </main>
  </div>
  <script>
    let vm = new Vue({
      el: '#app',
      data() {
        return {
          conpyBtnContent: '复制结果',
          longURL: "", // 原始链接
          keyPhrase: "", // 自定义后缀
          resultUrl: "", // 生成的结果
          submitText: "生成短链接", // 提交按钮文字
          submitLoading: false, // 提交按钮加载状态
          pathName: window.location.pathname // 路径名
        }
      },
      created() {

      },
      mounted() { },
      methods: {
        copyText(str) {
          const textarea = document.createElement('textarea'); // 创建一个textarea元素
          textarea.value = str; // 设置要复制的文本
          document.body.appendChild(textarea); // 将元素添加到DOM
          textarea.select(); // 选择元素中的文本
          document.execCommand('copy'); // 执行复制命令
          document.body.removeChild(textarea); // 从DOM中删除元素
          this.conpyBtnContent = "已复制"
          setTimeout(() => {
            this.conpyBtnContent = this.$options.data().conpyBtnContent
          }, 1500)
        },
        async fetchShortUrl() {
          this.submitLoading = true;
          this.submitText = "正在生成..."
          const obj = {
            cmd: "add",
            url: this.longURL,
            keyPhrase: this.keyPhrase,
            password: this.pathName.slice(1)
          }
          const data = await axios.post(this.pathName, obj)
          const res = data.data
          if (data.status !== 200) {
            alert('请求失败')
          } else if (res.status !== 200) {
            alert(res.error)
          } else {
            this.resultUrl = `${window.location.protocol}//${window.location.host}/${res.key}`
          }
          this.submitLoading = false
          this.submitText = "生成完毕🎉"

          setTimeout(() => {
            this.submitText = this.$options.data().submitText
          }, 800)
        },

        shorturl() {
          if (!this.longURL.trim()) {
            alert("你还没有输入原始链接")
            return
          }
          this.fetchShortUrl()
        }
      },
      computed: {},
      watch: {}
    })
  </script>
</body>

</html>
